html, body {
	margin: none;
	padding: none;
	font-family: 'Comfortaa';
}
.container {
	width: 80vw;
	margin-right: auto;
	margin-left: auto;
}


/* NAVIGATION BAR */
.nav-bar {
	position: relative;
	display: flex;
	align-items: center;
	height: 20vh;
	width: 100%;
	font-size: 32px;
}

.nav-title {
	position: absolute;
	left: 0px;
	cursor: pointer;
}

.nav-menu {
	position: absolute;
	right: 0px;
}

.nav-menu > a {
	padding-left: 6px;
	padding-right: 6px;
	color: black;
	text-decoration: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.nav-menu > a:hover {
	border-bottom: 2px solid rgba(0, 0, 0, 1);
}


/* SECTIONS */
section {
	height: 100vh;
}

/* HOME */
.home {
	height: 80vh;
	display: flex;
	flex-direction: row;
	position: relative;
}

.about-container {
	width: 50vw;
	position: absolute;
	padding-top: 64px;
	left: 0px;
}

.titleUpload {
	position: absolute;
	width: 450px;
	height: 43px;
	left: 96px;
	top: 228px;

	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 36px;

	color: #3C7967;
}

.titleTranscript {
	position: absolute;
	width: 500px;
	height: 43px;
	left: 693px;
	top: 228px;

	font-family:'Comfortaa';
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 36px;

	color: #3C7967;
}



.rectangle2 {
	position: relative;
	width: 552px;
	height: 215px;
	left: 96px;
	top: 299px;

	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rectangle1 {
	position: absolute;
	width: 652px;
	height: 479px;
	left: 693px;
	top: 299px;


	background: #E5E5E5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.selectFile {
width: 199px;
height: 29px;
left: 128px;
top: 351px;

font-family: 'Comfortaa';
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;

color: #000000;
}

/* Rectangle 3 */

.selectAudio {
	/*position: absolute;*/
/*	width: 245px;
	height: 61px;
	left: 356px;
	top: 335px;*/
	width: 199px;
	height: 61px;
	left: 128px;
	top: 420px;

	background: #E5E5E5;
	border: 1px solid #948989;
	box-sizing: border-box;
	color: black;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	text-align: center;
	padding: 15px 32px;
	display: inline-flex;
	font-family: 'Comfortaa';
	white-space: normal;
}

.AudioOutput {
	width:100%;
	height:100%;
	box-sizing: border-box;  
}


/* Rectangle 3.1 */
.uploadButton {
	/*position: absolute;*/
	width: 199px;
	height: 61px;
	left: 128px;
	top: 420px;

	background: #59B298;
	border: 1px solid #948989;
	box-sizing: border-box;
	color: white;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	text-align: center;
	padding: 15px 32px;
	display: inline-block;
	font-family: 'Comfortaa';

}


/* Rectangle 3.2 */
.cancelButton {
	/*position: absolute;*/
	width: 199px;
	height: 61px;
	left: 356px;
	top: 420px;

	background: #E75C5C;
	border: 1px solid #948992;
	box-sizing: border-box;
	color: white;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	text-align: center;
	padding: 15px 32px;
	display: inline-block;
	font-family: 'Comfortaa';
}





/* Cancel */
.cancel {
	position: absolute;
	width: 74px;
	height: 29px;
	left: 417px;
	top: 436px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 24px;

	color: #FFFFFF;
}

.larger-text {
	font-size: 32pt;
}

.smaller-text {
	font-size: 24pt;
}

.name-text {
	color: red;
}

/* WORK */
.work-container {
	padding-top: 64px;
}

.work-title {
	font-size: 32pt;
}

.project-container {
	padding-top: 64px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.project {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.project > span {
	font-size: 24pt;
	font-weight: bold;
	width: 50%
}

.project > p {
	font-size: 16pt;
}

.project-img {
	width: 100%;
	/*width: 256px;*/
}

/* CONTACT */
.contact-container {
	padding-top: 128px;
}

.contact-title {
	font-size: 32pt;
}

.contact-text {
	font-size: 24pt;
	width: 40vw;
}

.email {
	font-size: 20pt;
	font-weight: bold;
}

.links {
	margin-top: 64px;
	display: flex;
	flex-direction: row;
/*	justify-content: space-between;
*/}

.links > a {
	padding-right: 32px;
}
.link-img {
	height: 64px;
}

/* MOBILE */
@media (max-width: 700px) {
	.nav-menu {
		display: none;
	}

	.about-container {
		width: 90vw;
		padding-top: 0px;
	}

	.larger-text {
		font-size: 24pt;
	}
	.smaller-text {
		font-size: 22pt;
	}

	.project-container {
		flex-direction: column;
	}

	.project {
		width: 90vw;
	}

	#work {
		height: auto;
	}

	.contact-text {
		width: 90vw;
	}

}
